atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.local.symlink
/.idea/
/zsh/zshrc.d.symlink/kakao.zsh
/atom.symlink/.atom-socket-secret-zeno.kim-1.47.0
/Brewfile.lock.json
/git/package.json
/package-lock.json
